<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Link to Font Awesome fonts, used for icons http://fontawesome.io/get-started/-->
    <script src="https://use.fontawesome.com/52e8ef4b9e.js"></script>

    @*@Styles.Render("~/Content/css")  Not sure if this should be in or out*@
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*Original bootstrap navbar removed and replaced with materialize*@
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>*@
<div class="navbar-fixed">
    <nav>   <!--Navigation bar using Materialize-->
        <div class="nav-wrapper teal">
            <a href="~/Home/#" class="brand-logo center light">JENNIFER EVANS</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="~/Home/About">About</a></li>
                <li><a href="~/Home/Contact">Contact Info</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <!--Comment out the links to Admin functions when viewing webpage-->
                <li><a href="~/Projects/#">Project Index</a></li>
                <li><a href="~/Features/#">Features Index</a></li>
                <li><a href="~/Screenshots/#">Screenshot Index</a></li>

                <li><a href="~/Home/Index/#project-section">Projects</a></li>
            </ul>

        </div>
    </nav>
</div>

    <!--Floating Click to Toggle button fixed at bottom of screen using Materialize-->
    <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large blue-grey">
            @*<i class="material-icons">menu</i>  Use this for hamburger icon *@
            <i class="fa fa-user" aria-hidden="true"></i>
        </a>
        <ul>
            <li><a href="https://www.linkedin.com/in/jenevans3ten" target="_blank" class="btn-floating blue-grey lighten-2"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
            <li><a class="btn-floating blue-grey lighten-1"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            <li><a href="https://github.com/jen3ten" target="_blank" class="btn-floating blue-grey darken-1"><i class="fa fa-github" aria-hidden="true"></i></a></li>
            <li><a class="btn-floating blue-grey darken-2"><i class="fa fa-mobile" aria-hidden="true"></i>></a></li>


            @*<li><a class="btn-floating blue-grey lighten-2"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating blue-grey lighten-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating blue-grey darken-1"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue-grey darken-2"><i class="material-icons">attach_file</i></a></li>*@
        </ul>
    </div>

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

</body>
</html>
