@model IEnumerable<EvansPortfolio_v1.Content.Project>

@{
    ViewBag.Title = "Home Page";
}

<img class="responsive-img z-depth-5" src="~/Images/Dividers/water reflection cropped.jpg" alt="Water Reflection" style="" />

<div class="jumbotron">
    <h1 class="light italic center-align deep-orange-text" style="">Jennifer Evans</h1>
    <h2 class="center-align">Computer Software Engineer</h2>
    <h5 class="lead center-align flow-text" style="margin-left:10%;margin-right:10%">I am an organized and detail-oriented Engineer with problem solving skills, management experience, and training in C# / .NET full software development. <br /><br />I am currently seeking a Software Engineering position that will allow me to utilize my skills, expertise, education, and talents for the betterment of others.</h5>
</div>

<img class="responsive-img z-depth-5" src="~/Images/Dividers/leaf texture cropped.jpg" alt="Water Reflection" style="padding-top:30px" />

<div class="jumbotron" style="margin-left:5%; margin-right:5%">
    <h2 class="center-align">About Me</h2>
    <h4 style="padding-top:30px;">EDUCATION</h4>
    <table class="responsive-table centered">
        <thead>
            <hr />
        </thead>
        <tbody>
            <tr>
                <td><img src="~/Images/Logos/CWRU_logo.png" style="max-height:80px"/></td>
                <td><h5>CWRU</h5></td>
                <td><h5>BS in Biomedical Engineering</h5></td>
            </tr>
            <tr>
                <td><img src="~/Images/Logos/WSU_logo2.jpg" style="max-height:80px"/></td>
                <td><h5>Wright State University</h5></td>
                <td><h5>MS in Biomedical Systems Engineering</h5></td>
            </tr>
            <tr>
                <td><img src="~/Images/Logos/WCCI_logo2.jpg" style="max-height:80px"/></td>
                <td><h5>We Can {Code} IT</h5></td>
                <td><h5>Certificate in Computer Software Engineering</h5></td>
            </tr>
        </tbody>
    </table>
    <h4 style="padding-top:30px;">TECHNICAL SKILLS</h4>
    <hr />
    <div class="row center-align">
        <div class="col s12 m6 l4">
            <ul>
                <li><h5><i class="fa fa-check-circle" aria-hidden="true" style="color:teal"></i> C#</h5></li>
                <li><h5><i class="fa fa-check-circle" aria-hidden="true" style="color:teal"></i> VB.NET</h5></li>
                <li><h5><i class="fa fa-check-circle" aria-hidden="true" style="color:teal"></i> ASP.NET MVC</h5></li>
                <li><h5><i class="fa fa-check-circle" aria-hidden="true" style="color:teal"></i> SQL</h5></li>
                <li><h5><i class="fa fa-check-circle" aria-hidden="true" style="color:teal"></i> JavaScript</h5></li>
            </ul>
        </div>
        <div class="col s12 m6 l4">
            <ul>
                <li><h5><i class="fa fa-check-circle" aria-hidden="true" style="color:teal"></i> HTML</h5></li>
                <li><h5><i class="fa fa-check-circle" aria-hidden="true" style="color:teal"></i> CSS</h5></li>
                <li><h5><i class="fa fa-check-circle" aria-hidden="true" style="color:teal"></i> jQuery</h5></li>
                <li><h5><i class="fa fa-check-circle" aria-hidden="true" style="color:teal"></i> AJAX</h5></li>
                <li><h5><i class="fa fa-check-circle" aria-hidden="true" style="color:teal"></i> JSON</h5></li>

            </ul>
        </div>
        <div class="col s12 m6 l4">
            <ul>
                <li><h5><i class="fa fa-check-circle" aria-hidden="true" style="color:teal"></i> Bootstrap</h5></li>
                <li><h5><i class="fa fa-check-circle" aria-hidden="true" style="color:teal"></i> ADO.NET</h5></li>
                <li><h5><i class="fa fa-check-circle" aria-hidden="true" style="color:teal"></i> MS Visual Studio</h5></li>
                <li><h5><i class="fa fa-check-circle" aria-hidden="true" style="color:teal"></i> MS SQL Server</h5></li>
                <li><h5><i class="fa fa-check-circle" aria-hidden="true" style="color:teal"></i> MS Access</h5></li>
            </ul>
        </div>
    </div>
    <h5><a href="https://github.com/jen3ten" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true" style="color:steelblue;"></i></a> Click Here to Check out My Projects on GitHub</h5>

    <h4 style="padding-top:30px;">EXPERIENCE</h4>
    <table class="centered responsive-table">
        <thead>
            <hr />
        </thead>
        <tbody>
            <tr>
                <td><img src="~/Images/Logos/CCBDD_logo.jpg" style="max-height:80px" /></td>
                <td><h5>Cuyahoga County Board of DD</h5></td>
                <td><h5>Chief Methods Engineer</h5></td>
            </tr>
            <tr>
                <td><img src="~/Images/Logos/FES_logo.jpg" style="max-height:80px" /></td>
                <td><h5>CWRU</h5></td>
                <td><h5>Biomedical Engineering Researcher</h5></td>
            </tr>
        </tbody>
    </table>

    <h4 style="padding-top:30px;">VOLUNTEERING</h4>
    <table class="centered responsive-table">
        <thead>
            <hr />
        </thead>
        <tbody>
            <tr>
                <td><img src="~/Images/Logos/LMM_logo.png" style="max-height:80px" /></td>
                <td><h5>Lutheran Metropolitan Ministry</h5></td>
                <td><h5>Computer Lab Volunteer</h5></td>
            </tr>
            <tr>
                <td><img src="~/Images/Logos/thinkbox_image.jpg" style="max-height:80px" /></td>
                <td><h5>CWRU think[box]</h5></td>
                <td><h5>Volunteer Greeter</h5></td>
            </tr>
            <tr>
                <td><img src="~/Images/Logos/MS_logo.jpeg" style="max-height:80px" /></td>
                <td><h5>MS Society</h5></td>
                <td><h5>Biking Fundraiser</h5></td>
            </tr>

        </tbody>
    </table>

    @* **Personal section to be added later**
    <h4 style="padding-top:30px;">PERSONAL LIFE</h4>
    <hr />
    <img src="~/Images/Bank_Account/bank_index.jpg" alt="" class="circle responsive-img" style="height:200px; width:200px">
    *@

</div>

<img class="responsive-img z-depth-5" src="~/Images/Dividers/dry ground cropped.jpg" alt="Water Reflection" style="" />

<h2 class="center-align" id="project-section">My Projects</h2>

<div class="row" style="margin-top:40px">
@foreach (var item in Model)
{
    <div class="col s12 m4 l3">
        <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src=@Url.Content(item.VideoLink) />
            </div>
            <div class="card-content center-align">
                <span class="card-title activator grey-text text-darken-4">@Html.DisplayFor(modelItem => item.Name)<i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-action">
                @Html.ActionLink("More Info", "../Projects/Details", new { id = item.ProjectID })
                <a href=@Url.Content(item.GitLink) target="_blank">GitHub Link</a>
            </div>
            <div class="card-reveal">
                <p> 
                @foreach (var feature in item.Features)
                {
                    <span class="chip teal lighten-3" style="margin:2px;">@feature.Name</span>
                }
                </p>
                <span class="card-title grey-text text-darken-4">@Html.DisplayFor(modelItem => item.Name)<i class="material-icons right">close</i></span>
                <p>@Html.DisplayFor(modelItem => item.Description)</p>
            </div>
        </div>
    </div>
}
</div>

<img class="responsive-img z-depth-5" id="contact-section" src="~/Images/Dividers/wood texture cropped.jpg" alt="Wood Texture" style="" />

<div class="jumbotron" style="margin-left:5%; margin-right:5%">
    <h2 class="center-align">Contact Me</h2>
    <div class="row">
        <h3 class="light">Jennifer Evans</h3>
        <hr />
        <h5>5893 Fawn Circle</h5>
        <h5>Brecksville, OH 44141</h5>
        <h5>216-509-3347</h5>
        <h5>jenevans3ten@gmail.com</h5>
        <h5>www.linkedin.com/in/jenevans3ten</h5>
    </div>
</div>